<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, height=device-height, initial-scale=1,
      maximum-scale=1, user-scalable=no, shrink-to-fit=no'>

    <title>Rails Way</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller='<%= controller_path %>' data-action='<%= action_name %>'>
    <div id='container'>
      <%= yield %>

      <nav class='navbar fixed-bottom navbar-light bg-faded'>
        <div class='col-3 text-center' style='color: #777;'>
          <%= fa_icon 'train' %><br><small>Level <%= params[:level] %></small>
        </div>

        <div class='col-3 text-center' style='color: #777;'>
          <%= fa_icon 'clock-o' %><br>0:07
        </div>

        <div class='col-3 text-center' style='color: #777;'>
          <%= fa_icon 'camera-retro' %><br>Lorem
        </div>

        <div class='col-3 text-center' style='color: #000;'>
          <%= fa_icon 'info-circle' %><br>
          <%= link_to 'About', about_path %>
        </div>
      </nav>
    </div>
  </body>
</html>
